@model IEnumerable<GameStore.Web.ViewModels.PlatformTypes.PlatformTypeListViewModel>

@{
    ViewBag.Title = "Platforms";
    Layout = "_Layout";
}

<h2>Platforms</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th> 
        
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        
            <td>
                @Html.ActionLink("Checkout", "GetWithDetails", new { id = item.Id })
            </td>
        </tr>
    }

</table>